@font-face {
    font-family: 'Nova-square';
    src: url("../Fonts/NovaSquare-Regular.ttf") format('truetype');
}

.overlay {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.popup {
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#quizPopup.popup {
    display: none;
    width: 400px;
    height: 400px;
    background-image: url('../photos/PopupImg.png');
    background-size: cover;
    text-align: center;
    transform: translate(-50%, -50%) scale(0.5); /* Initially set scale to 0.5 for the popping effect */
    opacity: 0; /* Initially set opacity to 0 */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Apply transition for smooth effect */
}

#quizPopup.popup.visible {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); /* Set the scale back to 1 for full size */
}

.quiz-content {
    font-family: Nova-square, sans-serif;
    font-weight: bold;
    padding: 65px;
    color: black;
}

#submitQuiz {
    position: absolute;
    top: 77%;
    left: 42%;
}

.pop-content img {
    width: 100%;
    height: auto;
}

form {
    position: absolute;
    top: 50%;
    left: 30%;
    font-family: Nova-square, sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}

#playersName {
    font-family: Nova-square, sans-serif;
    font-size: 18px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    text-align: center;
    color: rgb(131, 131, 131);
}

.popup-button {
    padding: 10px;
    font-family: Nova-square, sans-serif;
    font-size: 14px;
    color: white;
    background-color: rgb(77, 77, 77);
    border-radius: 15px;
    margin-top: 20px;
}

.popup-button:hover {
    background-color: rgb(255, 255, 255, 0.3);
}

#successButton {
    position: absolute;
    top: 63%;
    left: 44%;
}

#caughtButton {
    position: absolute;
    top: 60%;
    left: 43%;
}

#missionSuccess {
    display: none;
}